# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# Data
# Keep only production API data
# =========================

data/*
!data/customer_features.csv
!data/product_features.csv
!data/order_analytics.csv

# =========================
# Models
# =========================

models/
*.pt
*.pth
*.bin
*.safetensors
*.onnx

# =========================
# Logs
# =========================

logs/
*.log

# =========================
# Testing
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================

tmp/
temp/